<% include partials/header %>

<div class="container">
    
    <table class="table">
	<thead>
	    <tr>
		<th scope="col">Project Name</th>
		<th scope="col">Mon</th>
		<th scope="col">Tue</th>
		<th scope="col">Wed</th>
		<th scope="col">Thu</th>
		<th scope="col">Fri</th>
		<th scope="col">Sat</th>
		<th scope="col">Sun</th>
		<th scope="col">Total</th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
		<th scope="row">Website</th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>6</td>
		<td></td>
		<td></td>
		<td>6</td>
	    </tr>
	    <tr>
		<th scope="row">Database</th>
		<td>2</td>
		<td>2</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>4</td>
	    </tr>
	    <tr>
		<th scope="row">Project 3</th>
		<td></td>
		<td>3</td>
		<td></td>
		<td>2</td>
		<td></td>
		<td></td>
		<td></td>
		<td>5</td>
	    </tr>
	    <tr class="table-primary">
		<th class="border-top border-dark" scope="row">Total</th>
		<td class="border-top border-dark">2</td>
		<td class="border-top border-dark">5</td>
		<td class="border-top border-dark"></td>
		<td class="border-top border-dark">2</td>
		<td class="border-top border-dark">6</td>
		<td class="border-top border-dark"></td>
		<td class="border-top border-dark"></td>
		<td class="border-top border-dark">15</td>
	    </tr>
	</tbody>
    </table>
</div>
<% include partials/footer %>
